.App {
  font-family: sans-serif;
  text-align: center;
}

.primary-nav {
  background-color: aliceblue;
  padding: 16px 32px;
}

nav a {
  margin: 0 2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.element {
  margin: 2rem 0;
  font-size: 1.6rem;
  background-color: gray;
  color: white;
  padding: 10px;
}
.container{
position: relative;
}
.c1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

